<div class='jumbotron center'>
	<img src="http://1.bp.blogspot.com/-GRiNa9aXKu8/TaU9meIDbNI/AAAAAAAAAGI/YN1QUAAsqnI/s200/mowgli.jpg" alt="Rounded Image" class="img-rounded">
	<h1>Welcome to Mowgli Tea</h1>
	<% if user_signed_in? %>
		# do something
	<% else %>
		<p>
			<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
		</p>
	<% end %>	
</div>
